body {
    padding-top: 5rem;
}

#image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}

img {
    width: 350px;
    height: 350px;
}
